<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Add Subject</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" action="/subject" method='post'>
                            
                            {{#each errors}}
                                <div class="error">{{this}}</div>
                            {{/each}} 

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="code" placeholder="Subject Code" required>
                            </div>

                            <div class="col-md-12 mt-5">
                                <input class="form-control" type="text" name="name" placeholder="Subject Name" required>
                            </div>

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="instName" placeholder="Institute Name" required>
                            </div>

                            <div class="col-md-12 mt-5">
                                <input class="form-control" type="text" name="deptName" placeholder="Department Name" required>
                            </div>

							  <div class="col-md-12 mt-3">
								<select class="form-select mt-3" name="sem" required>
									  <option selected disabled value="">SEMESTER</option>
									  <option value="1">I</option>
									  <option value="2">II</option>
									  <option value="3">III</option>
									  <option value="4">IV</option>
									  <option value="5">V</option>
									  <option value="6">VI</option>
									  <option value="7">VII</option>
									  <option value="8">VIII</option>
							   </select>
							  </div>

                            <div class="form-button">
                                <button id="submit" type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                        <a href="/subjects" class="form-button">
                            <button class="btn btn-primary">View Subjects</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>